@import './logo/style.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
    background: none;
    color: white;
}

body {
    background: #050319;
}

h1,
h2,
a {
    color: white;
}

.icon-telephone {
    color: red;
}