@import './logo/style.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
    background: none;
    color: white;
}

body {
    background: #050319;
    overflow-x: hidden;
}

h1,
h2 {
    color: white;
}