.contacts {
    position: absolute;
    top: 30px;
    right: 30px;

    &__txt {
        margin-top: -1px;
    }

    ul {
        display: flex;
        justify-content: space-around;
        width: 275px;

        li > a {
            color: white;
            font-size: 18px;
            transition: all 0.3s ease;

            &:hover {
                color: rgb(0, 255, 8);
                transition: all 0.3s ease;
            }
        }
    }
}

@media (max-width: 930px) {

    .contacts {
        right: 15px;
    }
    
    .contacts__ul {
        display: flex;
        align-items: center;
        height: 30px;
        background: rgb(0, 94, 255);
        border-radius: 12px;
    }
}